
<div>
{{title}}
 <input type="text" [(ngModel)]="namcal1">
{{up}}
<input type="text" [(ngModel)]="namcal2">
{{total}}
<button (click)="cal()">click</button>
</div>



<div>
    
{{title}}
 <input type="text" [(ngModel)]="namcal3">
{{up1}}
<input type="text" [(ngModel)]="namcal4">
{{total1}}
<button (click)="cal1()">click</button>
</div>


<div>
{{title}}
 <input type="text" [(ngModel)]="namcal5">
{{up2}}
<input type="text" [(ngModel)]="namcal6">
{{total2}}
<button (click)="cal2()">click</button>
</div>


<div>
    {{title}}
     <input type="text" [(ngModel)]="namcal7">
    {{up3}}
    <input type="text" [(ngModel)]="namcal8">
    {{total3}}
    <button (click)="cal3()">click</button>
    </div>